<p id="notice"><%= notice %></p>

<% unless current_user == @user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'users/unfollow' %>
    <% else %>
      <%= render 'users/follow' %>
    <% end %>
  </div>
<% end %>


<%= button_to 'Follow Topic', questions_path, style: 'float:right; margin-right: 50px' %>

<%= link_to 'Back', questions_path %>


<div><h1>  <%= @question.title %></h1></div>

<div>
    <% @question.answers.each do |ans| %>
      <div class="answer<%= ans.id %>"> 
        <p><%= ans.description %> </p>
      </div>
    <% end %>
</div>


<%= form_with(model: [@question, @answer], local: true) do |form| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




<br>
<%= link_to 'Back', questions_path %>
