<!DOCTYPE html>
<html>
  <head>
    <title>QuoraTestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header">
      <% if user_signed_in? %>
        <div style="font-size: 16px; font-weight: 700; float: right;"><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
